header {
    background-color: #2c3e50;
    height: 70px;
}

.col-6.banner-top {
    height: 50px;
    background-color: white;
}

.sez-1, .sez-3 {
    background-color: #1abc9c;
    height: 450px;
}

.col-sez-2 [class*="col"] {
    height: 200px;
}

.sez-3 {
    margin-top: 50px;
}

.sez-4 {
    background-color: white;
    min-height: 500px;
}

.sez-5 {
    background-color: #3a546d;
    min-height: 230px;
}

.sez-6 {
    background-color: #2c3e50;
    min-height: 100px;
}

.container-custom {
    background-color: pink;
    margin: auto;
    max-width: 500px;
    height: 450px;
}

.rosso {
    background-color: #ba4b63;
}

